<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>RegistrarPersonaServlet</servlet-name>
    <servlet-class>RegistrarPersonaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarPersonaServlet</servlet-name>
    <url-pattern>/registrarpersona</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IngresarServlet</servlet-name>
    <servlet-class>IngresarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngresarServlet</servlet-name>
    <url-pattern>/ingresar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>RegistrarEjecutivoServlet</servlet-name>
    <servlet-class>RegistrarEjecutivoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarEjecutivoServlet</servlet-name>
    <url-pattern>/registrarejecutivo</url-pattern>
  </servlet-mapping>
  <display-name>banco_platinum</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>